/*GLOBAL CONTAINER*/
.main{
    position: relative;
    width: 60vw;
    min-height: 78vh;

    color: white;
    background-color: rgba(223, 223, 223, 0.31);
}


/*QUESTIONS LIST EMPTY*/
#banner{
    margin: 1vh 0;

    display: none;

    font-size: 2em;
    color: black;
}


/*FINAL RESULT 0/4*/
#result{
    margin-top: 1vw;

    display: none;

    font-size: 2em;
    color: black;
}


/*START BUTTON*/
#btn {
    margin: 1vw;
    padding-top: 10px;

    position: relative;
    width: 160px;
    height: 40px;

    text-align: center;

    font-size: 25px;
    background-color: rgba(70, 70, 70, 0.8);
}


/*FULL QUESTION BLOCK*/
.question_block{
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

    position: relative;
    width: 100%;
}


/*QUESTION TITLE*/
.question{
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;

    background-color: rgba(128, 128, 128, 0.87);

    animation: question_start 2s forwards;
}
@keyframes question_start{
    0%{
        opacity: 0;
        transform: translate(0, 200px);
    }
    50%{
        opacity: 1;
        transform: translate(0,0);
    }
    100%{}
}

/*NUMBER OF QUESTION 1,2,3,4*/
.question .index {
    width: 5%;

    text-align: center;
}


/*QUESTION TITLE*/
.question .title {
    width: 90%;
}


/*YES OR NO IMAGES*/
.question .image_block {
    padding-right: 40px;

    position: relative;
    width: 5%;
}


/*FULL ANSWER BLOCK*/
.answer_block{
    position: relative;
    width: 100%;
    height: 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    animation: answer_block_start 1.5s forwards;
}
@keyframes answer_block_start{
    0%{
        opacity: 0;
        transform: translate(-400px, 0);
    }
    34%{
        opacity: 0;
        transform: translate(-400px, 0);
    }
    100%{
        opacity: 1;
        transform: translate(0,0);
    }
}


/*ANSWER DEFAULT STATE*/
.answer{
    padding: 0 10px;

    position: relative;
    width: 22%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    font-size: 16px;
    background-color: rgba(90, 90, 90, 0.88);
}


.answer:hover{
    border: 5px solid rgba(70, 70, 70, 0.93);
    transition: border-color 0.5s ease;
}


/*DESCRIPTION*/
.description{
    padding: 0 10px;

    position: relative;
    height: 100px;
    max-width: 71.5%;
    min-width: 71.5%;

    display: none;
    justify-content: center;
    align-items: center;

    background-color: rgba(90, 90, 90, 0.87);

    animation: description_start 1s forwards;
}
@keyframes description_start{
    0%{
        opacity: 0;
        transform: translate(800px,0);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
    }
}


/*ALL INVALID ANSWERS LEFT FROM SCENE*/
.invalid_answer{
    animation: invalid_answer_out 1s forwards;
}
@keyframes invalid_answer_out{
    0%{
        opacity: 1;
        transform: translate(0,0);
    }
    100%{
        opacity: 0;
        transform: translate(800px, 0);
    }
}


/*VARIABLES TO CALCULATE ANIMATION PARAMETERS FROM JS*/
:root {
    --shift-left-distance: 0px;
    --shift-top-distance: 0px;
}


/*USE IT FOR VALID ANSWER WHEN CUSTOMER CHOSE RIGHT VARIANT*/
.valid_answer{
    position: relative;

    animation: valid_answer_left 1s forwards;
}
@keyframes valid_answer_left{
    0%{
        left: 0;
    }
    99%{
        left: var(--shift-left-distance);
    }
    100%{
        left: 0;
    }
}




/*ADAPTIVE*/
@media (max-width: 1300px) {
    .answer_block{
        margin-top: 10px;
        height: auto;
        flex-direction: column;
    }


    .answer{
        margin-top: 10px;
        width: 56vw;
        height: 60px;
    }


    .valid_answer{
        animation: valid_answer_left_1300 1s forwards;
    }
    @keyframes valid_answer_left_1300{
        0%{
            top: 0;
        }
        99%{
            top: var(--shift-top-distance);
        }
        100%{
            top: 0;
        }
    }


    .description{
        max-width: 56vw;
        min-width: 56vw;
        margin-top: 10px;
        position: relative;
    }
}
